{% extends "base.html" %}
{% load static %}

{% block title %} QR Pay {% endblock%}

{% block content %}
<div class="container-fluid home">
    <div class="container home-container">
        <h2 class="home-header">All QR Codes</h2>
        <hr>
        <div class="row home-row">
            {% for qr in qrs %}
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/media/{{ qr.code }}" alt="QR Code">
                    <div class="card-body">
                        <p class="card-text">Route: <b>{{ qr.route }}</b></p>
                        <p class="card-text">Price: <b>KSH {{ qr.amount }}</b></p>
                        <!-- <button type="button" class="btn btn-light" data-toggle="modal"
                            data-target="#exampleModalCenter">
                            Scan
                        </button> -->
                    </div>
                </div>
            </div>


            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title centre" id="exampleModalLongTitle">Route: {{ qr.route }}</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <img class="card-img-top" src="/media/{{ qr.code }}" alt="QR Code">
                            <hr>
                            <h5 class="card-text">Price: <b>KSH {{ qr.amount }}</b></h5>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}